h3{
    display: inline;
    border: none;
}

#left{
    float: left;
}
#right{
    float: right;
}

#totalPrice{
    width:100%; margin-top: 40px;text-align: right;border-top-style: solid;
}

input{
    margin-top: 30px; background: #A9A9A9;
}
#guestNumber{
    margin-right: 20px
}
#title{
    background-color: #eee; margin-top: 20px;
}
#buttonBox{
    margin: 0px auto;text-align: center;
}
.buttontd{
    width: 10px;
    }
    .buttontd button{
    border: 0px solid red;
    border-radius: 10px;
    }
    
    .buttontd button img{
    transition: all .1s ease-in-out;
    width: 10px;
    }
    
    .buttontd button img:hover{
    transform: scale(1.2);
    color: red;
    }
    
    .pricetd{
    white-space: nowrap;
    text-align: right
    }